<%- include('temp/cabecera'); %>

  <div class="">
    <div class="col-md-20">
      <div class="carousel slide carousel-fade" id="principal-carousel" data-ride="carousel"> 
           <div class="carousel-inner">
    
          <div class="carousel-item active">
              <a href="https://www.cuautla.tecnm.mx/politica" target="_blank">
            <img src="https://www.cuautla.tecnm.mx/images/banners/2022/marzo/POLITICA.png" class="w-100 rounded" a="" title="POLÍTICA">
                          </a>
          </div> 
          
          <div class="carousel-item">
              <a href="https://www.cuautla.tecnm.mx/sgc" target="_blank">
            <img src="https://www.cuautla.tecnm.mx/images/banners/2022/marzo/CONOCE LOS SG.png" class="w-100 rounded" a="" title="SISTEMAS DE GESTIÓN">
                          </a>
          </div>

          <div class="carousel-item">
						    
            <a href="https://sites.google.com/cuautla.tecnm.mx/nuevo-ingreso/p%C3%A1gina-principal" target="_blank">
              <img src="https://www.cuautla.tecnm.mx/images/banners/2022/abril/SLIDER Bandas 2022.jpg" class="w-100 rounded" a="" title="bandas">
            </a>
          </div>
          
        
        <a href="#principal-carousel" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>

          <span class="sr-only">Anterior</span>
        </a>


        <a href="#principal-carousel" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>

          <span class="sr-only">Siguiente</span>
        </a>
        
      </div>				
    </div>
  </div>
  </div>




 
     

<h1 class="ms-4">La importancia de la organizacion</h1>
<section class="container">
    <h2>Por que organizarse dia a dia?</h2>
    <div class="clearfix">
        <img src="/img/carrusel3.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
      
        <p>
          ¿Te ha pasado sentir la necesidad de que el día tenga más de 24 horas porque no terminas con tus pendientes? ¿Qué tan organizad@ te consideras?
          El desorden en el que vivimos, usualmente, es un reflejo del desorden que hay dentro de nosotros mismos, según menciona una de las leyes del budismo que señala: “como es adentro, es afuera” y; ese desorden externo puede llegar a tener repercusiones sobre nuestro estado de salud.
        </p>
      
        <p>
          Una de las razones sobre la importancia de ser organizado es que reduce el nivel de estrés y ayuda a estar más serenos y tranquilos. Al organizarnos, sabremos qué hacer según el lugar en el que estemos y evitamos preocuparnos por temas o cosas que no podemos resolver en el momento. 
        </p>
      
        <p>
          Ser organizados nos permite manejar de manera efectiva nuestro tiempo ya que somos capaces de programar las diferentes tareas desde su preparación, hasta su realización y seguimiento.
        </p>
      </div>
</section>

<div class="card-group">
    <div class="card">
      <img src="/img/index1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tener una agenda</h5>
        <p class="card-text">lo ideal es tener una sola agenda en la que apuntes todo: sea profesional o personal. Además, puedes realizar un cronograma de actividades diarias o semanales y visualizarlas en la agenda.</p>
        <p class="card-text"><small class="text-muted">Tips para organizarte</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/img/index.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Crear listas de tareas</h5>
        <p class="card-text">Para saber exactamente qué hacer, no procrastinar y no perder el tiempo es contar con una lista de tareas. Así, sabremos con exactitud cuáles son las tareas o próximos pasos exactos que debemos ir dando.</p>
        <p class="card-text"><small class="text-muted">Tips para organizarte</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/img/index3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Prioriza las actividades del día</h5>
        <p class="card-text"> ordena las tareas según sean, importantes, no importantes y urgentes o no urgentes.</p>
        <p class="card-text"><small class="text-muted">Tips para organizarte</small></p>
      </div>
    </div>
  </div>


<%- include('temp/footer'); %>